# configure here environment variables required by octoauth
export DASHBOARD_URL=http://localhost:8080
export ENVIRONMENT=development

# indicates where is virtualenv
VIRTUALENV_PATH=.venv
# configure virtualenv bin (change to something like .venv/Scripts on windows)
VIRTUALENV_BIN=.venv/bin
