# ignore local playground
snippets/
.env.local

# ignore python files
.pytest_cache/
__pycache__/
.venv/
dist/
build/
*.egg-info
*.whl

# ignore generated data
assets/
*.sqlite
*.log
